@keyframes breath {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#apple{
    scale: 5%;
    position: fixed;
    left: 75%;
}

#twoX{
    position: fixed;
    top: 50%;
    left: 35%;
    background-color: lightblue;
    border-radius: 5px;
}

#cart {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 250px;
    cursor: grab;
    animation: breath 10s infinite;
}

#counter {
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#Ctext {
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reset {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightcoral;
    border-radius: 5px;
}