@keyframes breath {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#cart {
    position: fixed;
    top: 50%;
    left: 43%;
    width: 200px;
    height: 250px;
    cursor: grab;
    animation: breath 10s infinite;
}
#counter {
    text-align: center;
    position: fixed;
    top: 35%;
    left: 46%;
    font-size: 24px;
}

#Ctext{
    text-align: center;
    position: fixed;
    top: 40%;
    left: 45%;
}

#reset{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 45%;
}