#hei {
    text-align: center;
    text-size-adjust: 100%;
    font-style: italic;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    transition: opacity 2.5s;
}

.visible {
    opacity: 1;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}